# Ignore Python environments
.venv/
env/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore IDE configs
.idea/
.vscode/

# Ignore environment variables
.env

# Ignore data/log files
*.log
*.json
